.sloider{
    display: flex;
    width: 90%;
    max-height: min-content;
}

.sloi-img{
    width: 100%; 
}

.main-body{
    width: 100%;
    gap: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 100%;
}

.site-header{
    position: sticky;
    top: 0px;
    left: 0px;
}

